section.register
  .container
    .row
      .col-md-12
        h2.register__hot-title
          | Hot Reviews
    .row
      .col-md-7
        .reviews
          .reviews__list

      .col-md-5
        .register__form.form
          .form__monobrow
          h1.form__title
            | create account
          = form_for(resource, as: resource_name, html: { class: 'form__body' }, url: registration_path(resource_name)) do |f|
            - if resource.errors.any?
              #form__err
                h2.form__err-title
                  = I18n.t("errors.messages.not_saved", \
                          count: resource.errors.count, resource: resource.class.model_name.human.downcase)
                ul.form__err-list
                  - resource.errors.full_messages.each do |message|
                    li.form__err-item
                      = message
            .row.mb-3
              .col-md-6.col-sm-12
                .field
                  = f.label :first_name, class: 'd-none'
                  = f.text_field :first_name, autofocus: true,\
                                  autocomplete: "first_name", \
                                  placeholder: "First Name", \
                                  class: 'form__text-field', \
                                  required: 'required'
              .col-md-6.col-sm-12
                .field
                  = f.label :last_name, class: 'd-none'
                  = f.text_field :last_name, autofocus: true, \
                                  autocomplete: "last_name", \
                                  placeholder: "Last Name", \
                                  class: 'form__text-field', \
                                  required: 'required'
            .row.mb-3
              .col-sm-12
                = f.label :username, class: 'd-none'
                = f.text_field :username, autofocus: true, \
                                            autocomplete: "username", \
                                            placeholder: "Username", \
                                            class: 'form__text-field', \
                                            required: 'required'
            .row.mb-3
              .col-sm-12
                = f.label :email, class: 'd-none'
                = f.email_field :email, autofocus: true, \
                                autocomplete: "email", \
                                placeholder: "Email", \
                                class: 'form__text-field', \
                                required: 'required'
            .row.mb-3
              .col-sm-12
                = f.label :password, class: 'd-none'
                - if @minimum_password_length
                  em
                    | (
                    = @minimum_password_length
                    |  characters minimum)
                = f.password_field :password, autocomplete: "new-password", \
                                    placeholder: "Password", \
                                    class: 'form__text-field', \
                                    required: 'required'
            .row.mb-4
              .col-sm-12
                = f.label :password_confirmation, class: 'd-none'
                = f.password_field :password_confirmation, \
                                    autocomplete: "new-password", \
                                    placeholder: "Repeat password", \
                                    class: 'form__text-field', \
                                    required: 'required'
            .row
              .col-sm-12
                = f.submit "Sign up", class: "form__submit"
