doctype html
html
  head
    title
      | Reviewer
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    - if user_signed_in?
      = render 'partials/header/user'
    - else
      = render 'partials/header/guest'
    = yield
    .flash__list
      - unless notice.nil? or notice.empty?
        p.flash__notice.notice
          = notice
      - unless alert.nil? or alert.empty?
        p.flash__alert.alert
          = alert
